extend layout 

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='userName') Username:
      input#userName.form-control(type='text', placeholder='Userame' name='username', 
                            required='true' )
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='password', placeholder='Password' name='password', 
                            required='true', autocomplete="off")
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
